extends content

block header
  h1 Welcome

block description
  p Susanne Allcock is a chartered accountant providing a complete range of business services including accounting, taxation, corporate compliance & proactive business solutions.
  p The practice has been operating for over 25 years from the historic town of Dayboro, 44kms north of Brisbane but provides services to clients throughout Australia and overseas.
  p Our clients range from private companies and trusts, to partnerships, and private individuals who are professionals, sole traders or retiree investors.
  p We aim to develop strong working relationships while maintaining a personal touch; this allows us to provide exceptional financial services for all of our clients.
  p If you are for looking for an Advisor that delivers professional, proactive advice and adds value, then look no further. Whether you just need help at tax time or require something more, we provide high quality services that are value focused; and it's not just about the numbers.
