extends content

block header
  h1 Related Links

block description
  p Understanding financial and taxation issues is becoming more and more complex. Here are some relevant links which you might find helpful:
  ul
    li
      a(href="http://www.ato.gov.au/", target="blank") Australian Tax Office
    li
      a(href="http://www.asic.gov.au/asic/asic.nsf", target="blank") Australian Securities &amp; Investments Commission
    li
      a(href="http://www.accc.gov.au/", target="blank") Australian Competition &amp; Consumer Commission
    li
      a(href="http://www.osr.qld.gov.au/", target="blank") Office of State Revenue
    li
      a(href="http://www.business.qld.gov.au/", target="blank") Queensland Government - Business Development
    li
      a(href="http://www.austrade.gov.au/", target="blank") Austrade
    li
      a(href="http://www.cashflow-manager.com.au/", target="blank") Cashflow Manager
    li
      a(href="http://www.afr.com/", target="blank") Australian Financial Review
    li
      a(href="http://www.brw.com.au/", target="blank") Australian Business Review Weekly Magazine
    li
      a(href="http://www.apimagazine.com.au/", target="blank") Australian Property Investor
