extends content

block header
  h1 Privacy Statement

block description
  p
    strong Susanne Allcock 
    | provides a wide range of taxation and financial services for businesses and individuals. As a result certain personal information may be collected. The following will outline what we collect, why we collect it, and who has access to it.

  h2 Why we ask for personal information
  p The collection of your personal data is necessary so that we may provide you with a high level of service and advice and to maintain our client records.

  h2 How we collect personal information
  p We gather limited information to allow us to contact you through our “Contact Us” form Susanne Allcock's website. Information we request on this form is:
  ul
    li Your name
    li Your business name
    li Your email address
  p There is also a general enquiry text box where you may input whatever information you wish. In addition to this we may collect relevant information via the telephone or in person.

  h2 Who we provide your personal information to
  p Any and all information collected is solely for the purpose of 
    strong Susanne Allcock 
    | providing services for you, and it 
    strong will not 
    | be forwarded to any other individual or organisation without your express permission save that required by applicable law. Neither will we use information gathered in an attempt to market products to you through ourselves or any associates.

  h2 Providing Visitors with Anonymous Access
  p Normal access of this website will not disclose any of your personal data.

  h2 How you can access your personal information
  p You may contact 
    strong Susanne Allcock 
    | at any time to enquire about any information we may be holding. At that time if any information we have is incorrect, we will rectify it.

  h2 How we maintain the security of your personal information
  p
    strong Susanne Allcock 
    | is accommodated in secure premises and Client information is properly secured. Staff are required to comply with office security policies and procedures with respect to personal information. Every reasonable effort is made to ensure the security of your information.

  h2 How you can contact us
  p You can contact 
    strong Susanne Allcock 
    | at anytime using the information below.
  p Office: 07 3425 1115
  p Mobile: 0412 651 649
  p Fax: 07 3425 1223
  p 18 William St, Dayboro, QLD 4521
  p PO Box 147, Dayboro, QLD 4521

  h2 What you can do if we do not keep our privacy commitments
  p All complaints about a breach or potential breach of our privacy policy should be directed to 
    strong Susanne Allcock
    | . Your complaint will be considered within 14 days and responded to accordingly.



  h1 Terms and Conditions of Use
  p Welcome to our web site. If you continue to browse and use this web site, you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern 
    strong Susanne Allcock
    | 's relationship with you in relation to this web site.
  p The term "
    strong Susanne Allcock
    | " or "us" or "we" refers to the owner of the web site, whose principle place of business is; 18 William Street, Dayboro, 4521 QLD, Australia. The term "you" refers to the user or viewer of our web site.
  p The use of this web site is subject to the following terms of use: The content of the pages of this web site is for your general information and use only. It is subject to change without notice.
  p Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the information and materials found or offered on this web site for any particular purpose. You acknowledge that such information and materials may contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.
  p Your use of any information or materials on this web site is entirely at your own risk, for which we shall not be liable. It shall be your own responsibility to ensure that any products, services or information available through this web site meet your specific requirements. This web site contains material which is owned by or licensed to us. This material includes, but is not limited to, the design, layout, look, appearance and graphics. Reproduction is prohibited other than in accordance with the copyright notice, which forms part of these terms and conditions.
  p Unauthorized use of this web site may give to a claim for damages and/or be a criminal offence.
  p This web site may also include links to other web sites. These links are provided for your convenience to provide further information. They do not signify that we endorse the web site(s). We have no responsibility for the content of the linked web site(s).
  p You may not create a link to this web site from another web site or document without 
    strong Susanne Allcock
    | 's prior written consent.
  p Your use of this web site and any dispute arising out of such use of the web site is subject to the laws of Australia.
