extends content

block header
  h1 Our Services

block description
  p We are able to draw upon many years of experience and a network of associated specialists to provide you with proactive solutions to your specific circumstances. We will assess your needs and make practical, workable recommendations.
  p Through communication & dialogue we are able to maintain healthy and informed relationships with our clients. We aim to gain a greater understanding of what each client needs as an individual and through this familiarity, we are better equipped to help our clients meet their financial commitments, and to keep their business running smoothly.
  p Most clients come to us initially for compliance matters and invariably we are able to identify areas for improvement. From start up to expansion and then on to succession planning we provide support and work with you to achieve your goals.
  p We offer the following services:
  ul
    li Financial reporting that is meaningful to your business
    li Business advice and improvement strategies
    li Advice on initial structuring & set up of your business
    li Specialist GST and taxation advice
    li Income tax returns
    li Fringe benefit tax returns
    li Bookkeeping & business activity statements (BAS)
  p And much more…
  p Our knowledge base is up to date and professional.
  p We understand that your business is unique and can tailor our services to meet your specific requirements and exceed your expectations.
  h2 Qualifications
  ul
    li 
      strong Registered Tax Agent 
      | offering representation in matters of income tax, including capital gains tax, goods & services tax & fringe benefits tax.
    li
      strong Registered Agent for the Australian Securities & Investments Commission 
      | offering corporate secretarial services including agency for annual review packages.
