$black: rgb(0,0,0);
$charcoal: rgb(38,40,46);
$grey-dark: rgb(100,105,115);
$grey: rgb(190,192,205);
$grey-light: rgb(235,238,243);
$off-white: rgb(248, 249, 250);
$white: rgb(255,255,255);

$blue: rgb(30,150,255);
$blue-light: rgb(50,170,255);
$blue-dark: rgb(20,115,235);
$blue-grey: rgb(99,99,119);
