extends layout

block variables
  - var title = "Contact"
  - var slug = "contact"
  - var pageContact = true

block content

  .slides
    img(src="/img/slide-03.jpg", alt="")

  include content/_contact
