extends layout

block variables
  - var title = "Links"
  - var slug = "links"
  - var pageLinks = true

block content

  .slides
    img(src="/img/slide-04@2x.jpg", alt="")

  include content/_links
