extends layout

block variables
  - var title = "Services"
  - var slug = "services"
  - var pageServices = true

block content

  .slides
    img(src="/img/slide-02.jpg", alt="")

  include content/_services
